<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ProdyTalk.mapper.CalendarMapper">

    <select id="getCalendar" parameterType="int" resultType="com.example.ProdyTalk.vo.CalendarVO">
        select * from calendar where room_id=#{room_id}
    </select>

    <insert id="addEvent" parameterType="com.example.ProdyTalk.vo.CalendarVO">
        insert into calendar (title,start,end,color,calendar_id,room_id)
        values (#{title},#{start},#{end},#{color},#{calendar_id},#{room_id})
    </insert>

    <select id="searchLast" resultType="int">
        SELECT calendar_id FROM calendar ORDER BY calendar_id DESC LIMIT 1;
    </select>

    <update id="editEvent" parameterType="com.example.ProdyTalk.vo.CalendarVO">
        update calendar set title = #{title} where calendar_id = #{calendar_id};
    </update>

    <delete id="deleteEvent" parameterType="com.example.ProdyTalk.vo.CalendarVO">
        delete from calendar where calendar_id = #{calendar_id};
    </delete>

</mapper>
