<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ProdyTalk.mapper.ChatMapper">

    <insert id="insertMessage" parameterType="com.example.ProdyTalk.chat.vo.MessageVO">
        INSERT INTO message(message_id,content,user_id,conversation_id)
        values(#{message_id},#{content},#{user_id},#{conversation_id})
    </insert>

    <select id="searchLast" resultType="int">
        SELECT message_id FROM message ORDER BY message_id DESC LIMIT 1;
    </select>

    <select id="getChatList" parameterType="int" resultType="com.example.ProdyTalk.chat.vo.MessageVO">
        select * from message where conversation_id=#{conversation_id}
    </select>
</mapper>

