<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ProdyTalk.mapper.RoomMapper">

    <insert id="insertRoom" parameterType="com.example.ProdyTalk.vo.RoomListVO">
        INSERT INTO room_list(room_name,room_type,room_info,room_total)
        values(#{room_name},#{room_type},#{room_info},#{room_total})
    </insert>

    <select id="findAll" resultType="com.example.ProdyTalk.vo.RoomListVO">
        SELECT * from room_list
    </select>

    <select id="findIdRoom" resultType="int">
        SELECT * FROM room_list
        WHERE room_name = #{room_name}
    </select>


    <select id="joinRoom" parameterType="com.example.ProdyTalk.vo.RoomJoinVO">
        INSERT INTO room_join(room_id,user_id)
        values(#{room_id},#{user_id})
    </select>

    <select id="findInRoom" resultType="com.example.ProdyTalk.vo.RoomJoinVO">
        SELECT * from room_join
        WHERE user_id = #{user_id}
    </select>

    <select id="getInRooms" resultType="com.example.ProdyTalk.vo.RoomListVO">
        SELECT * from room_list
        WHERE room_id IN
            <foreach collection="array" item="room_id" open="(" close=")" separator=",">
                #{room_id}
            </foreach>
    </select>

    <select id="getRoomTotal" resultType="int">
        SELECT room_total FROM room_list
        WHERE room_id = #{room_id}
    </select>

    <update id="setRoomTotal" parameterType="com.example.ProdyTalk.vo.RoomListVO">
        update room_list
        set room_total = #{room_total}
        where room_id = #{room_id}
    </update>

    <select id="getRoomById" resultType="com.example.ProdyTalk.vo.RoomListVO">
        select * from room_list
        where room_id = #{room_id}
    </select>

    <select id="getMemberById"  resultType="com.example.ProdyTalk.vo.RoomJoinVO">
        select * from room_join
        where room_id = #{room_id}
    </select>

    <delete id="deleteRoom" parameterType="com.example.ProdyTalk.vo.RoomJoinVO">
        delete from room_join
        where room_id = #{room_id} and user_id=#{user_id}
    </delete>

</mapper>