.background {
	height: 100vh;
	background-image: url( "../../components/image/background.png" );
	animation: bg-pan-right 15s infinite both;
    text-align: center;

	cursor: default;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
}

.background img{
    width: 180px;
}

 .logo {
    border: 6px solid #fff;
    display: inline-block;
    text-align: center;
    width: 250px;
    margin: 80px 0 50px;
    }

.font{
    color: #fff;
    font-family: Nanum Gothic400,sans-serif;
    font-size: 50px;
  }

.button{
    margin:50px;
}
.smallfont{
    font-size: 20px;
    font-family: Nanum Gothic400,sans-serif;
    color: #795da9;
}



@keyframes bg-pan-right {
  0% {
    background-position: 0% 90%;
  }

  50% {
    background-position: 100% 10%
  }
  100% {
    background-position: 0% 10%
  }
}

@font-face {
    font-family: 'lefery';
    src: url('./LeferiBaseBold.ttf') format('truetype');
}