.smallBox{
    background-blend-mode:multiply;
    width:100%;
    height: 164px;
    text-align:center;
    cursor: default;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
}

.logout{
    float:right;
    margin: 20px;
}

.logout button{
font-family: S-CoreDream-5Medium;
}

.mainPage{
    min-height:100vh;
    text-align:center;
    overflow: hidden;
    height: 100%;
}

.mainlogo img{
    height: 160px;
    width: 140px;
}

#putLink{
    float:right;
    padding: 20px 22px 0 0;
}

#putLink label{
    font-family: S-CoreDream-5Medium;
}

.putLinkButton{
    margin-top: 10px;
    margin-left: 15px;
    display:inline-block;
}

.putLinkButton button{
font-family: S-CoreDream-5Medium;
}

.menu{
    text-align:center;
    top:600px;
    left:590px;
}
.recruit{
background: #97aaca;
    padding:40px;
    display:inline-block;
    width : 300px;
    height : 200px;
    margin: 30px 25px 0 25px;
    font-family: 'S-CoreDream-5Medium';
    font-size: 30px;
    border-radius: 0.5rem;
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.myCalendar{
    background: #97aaca;
    display:inline-block;
    padding:40px;
    width : 300px;
    height : 200px;
    font-size: 30px;
    margin: 30px 25px 0 25px;
     border-radius: 0.5rem;
    font-family: 'S-CoreDream-5Medium';
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mypage{
    background: #97aaca;
    display:inline-block;
    padding:40px;
    width : 300px;
    height : 200px;
    font-size: 30px;
    border-radius: 0.5rem;
    margin: 30px 25px 0 25px;
    font-family: 'S-CoreDream-5Medium';
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.putLinkButton button {
border: 1px solid rgb(0 0 0 / 50%);
    color: #000000;
}

#myroomlist{
     font-family: 'S-CoreDream-4Regular';
    text-align: left;
    margin-left: 25px;
}

@font-face {
    font-family: 'lefery';
    src: url('./LeferiBaseBold.ttf') format('truetype');
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-size: 40px;
     font-weight: 400;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}