div.box{
    width: 1500px;
    height:700px;
    background-color:#ffffff;
    margin-top:50px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

div.miniBox{
    width: 1500px;
    height:700px;
    background: white;
    position: absolute;
    cursor: default;
                  -webkit-touch-callout: none;
                  -webkit-user-select: none;
                  -khtml-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
    z-index:1;
}

div.infoBox{
    width:1200px;
    height: 300px;
    background: #ffffff;
    border-radius: 5%/ 10%;
    border: 2px solid #b6b6b6;
    box-shadow: 0.5px 0.5px 10px 0.2px #b6b6b6;
    position: relative;
    margin-left: 150px;
    z-index: 3;
    overflow: hidden;
    cursor: default;
                      -webkit-touch-callout: none;
                      -webkit-user-select: none;
                      -khtml-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none;
}

p.basicProfile{
    cursor: default;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
    font-family: 'lefery';
    font-size: 30px;
    position: relative;
    z-index: 2;
}

p.editButton{
    font-family: 'lefery';
    font-size:20px;
    margin: 0;
}

div.userId{
    display:block;
    font-size: 20px;
    text-align:left;
    margin: 15px;
    font-family: 'ChungbukNationalUniversity-Regular';

}

div.editButton{
    margin-top:-50px;
    margin-right:20px;
    text-align:right;
}


@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}