div.box{
margin-top: 50px;
}

#mypage {
    font-family: 'S-CoreDream-4Regular';
    text-align: left;
    margin-left: 25px;
}

div.infoBox{
    box-shadow: 0.5px 0.5px 10px 0.2px #b6b6b6;
    z-index: 3;
    overflow: hidden;
    cursor: default;
                      -webkit-touch-callout: none;
                      -webkit-user-select: none;
                      -khtml-user-select: none;
                      -moz-user-select: none;
                      -ms-user-select: none;
                      user-select: none;
    background: #97aaca;
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

p.basicProfile{
    cursor: default;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
    font-family: 'S-CoreDream-5Medium';
    font-size: 30px;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

#homeBtn {
    background: no-repeat;
    border: none;
    position: fixed;
    bottom: 50px;
    left: 10px;
}

.editButton button{
    background: #ffffff;
    border-color: #97aaca;
    color: #2c3e50;
    font-family: 'S-CoreDream-5Medium';
    height: 40px;
    }

p.editButton{
    font-size:20px;
    margin: 0;
}

div.userId{
    display:block;
    font-size: 20px;
    text-align:left;
    margin: 30px;
    font-family: 'S-CoreDream-3Light';

}

div.editButton{
    margin-top:5px;
    margin-right:5px;
    text-align:right;
}


@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

#myroomlist{
font-family: 'Nanum Gothic400', sans-serif;
    text-align: left;
    margin-left: 25px;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-size: 40px;
     font-weight: 400;
     font-style: normal;
}