.menu_content{
    width:56%;
    background-color:#ffffff;
    display:inline-block;
    padding:30px;
    padding-bottom: 30px;
    margin-top:20px;
    border-radius: 1rem;
    margin-bottom: 30px;
}

.menu_calendar{
    background-color: #97aaca;
}

.roomEnterBack{
    background-color: #97aaca;
    height:100vh;
}

.todolist_enter{
    text-align:center;
    background: #97aaca;
}

#menu{
    text-align: center;
    font-family: 'Nanum Gothic400', sans-serif;
}

.chat{
    margin-top:20px;
    background: #97aaca;
}

.menuitem{
    text-align:center;
}

.copyButton{
    margin-left: 10px;
    margin-right: 10px;
    display:inline-block;
    font-family: 'Nanum Gothic400', sans-serif;
}

.copyButton button{
    height: 30px;
}

.showLink{
    display:inline-block;
    background-color: #ffffff;
    width: 290px;
    height:30px;
    text-align:center;
    padding-top:3px;
    border-radius: 0.5rem;
    font-family: 'ChungbukNationalUniversity-Regular';
}


@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic400';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}