.body{
    height:100px;
    text-align:center;
    cursor: default;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
}
.mainlogo{
    display: inline-block;
    border: 0px;
}

.mainlogo img {
height: 150px;
    width: 130px;
    margin-left: 150px;
}

.navi{

    display: inline-block;
    float: right;
}

.creatroom{
display:inline;
}

.mypro{
display:inline;
}
