header {
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.username{
    position: relative;
    float: left;
    top: 22px;
}