form {
    font-family: "Inter", 'NotoSansKR', "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji", "Noto Color Emoji";
}

#loginForm {
    position: absolute;
    top: 60%; left: 50%;
    margin: -260px 0 0 -210px;
}

.loginText {
    text-align: center;
    font-weight: bold;
}

.login {
    margin-top: 60px;
    font-size : 18px;
}

.loginField {
    margin-top: 50px;
}

TextField{
    width:500px;
}

.password {
    margin-top: 20px;
    font-size : 18px;
}

.passwordField {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 25px;
}

.signupBtn {
    margin-top: 20px;
    text-align: center;
    color: #98A8B9;
}

.signupBtn > a {
    padding-left: 0.4rem;
    color: #263747;
}

.loginInp {
    width : 400px;
    height : 50px;
    border : 1px solid #EEE6FA;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
}

.loginBtn > button {
    width : 400px;
    height : 45px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #97aaca;
    color: #464646;
}

