.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  font-family: 'S-CoreDream-4Regular';
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
position: relative;
    padding: 16px 0px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
    font-family: 'S-CoreDream-4Regular';
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}

.add {
  padding: 6px 12px;
  color: #000000;
  background-color: #97aaca;
  border-radius: 5px;
  font-size: 13px;
}

.close {
  padding: 6px 12px;
  color: #fff;
  background-color: black;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 10px;
}

.edit {
  padding: 6px 12px;
  color: #000000;
  background-color: #97aaca;
  border-radius: 5px;
  font-size: 13px;
}

.delete {
  padding: 6px 12px;
  color: #fff;
  background-color: black;
  border-radius: 5px;
  font-size: 13px;
  margin-left: 10px;
}

#openmodal{
    background: #97aaca;
    padding: 40px;
    display: inline-block;
    width: 300px;
    height: 200px;
    font-size: 30px;
    margin: 30px 25px 0 25px;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-radius: 0;
    vertical-align: unset;
    font-family: 'S-CoreDream-5Medium';
    border-radius: 0.5rem;
}

.col-form-label{
padding: 0 0 0 0;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

label {
    padding-left: 20px;
    margin-right: 10px;
}

#roomInfo {
    margin-top: 15px;
}

#roomType {
    margin-top: 15px;
    margin-bottom: 5px;
}

span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
     font-family: 'S-CoreDream-4Regular';
}

button.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.css-sghohy-MuiButtonBase-root-MuiButton-root {
     font-family: 'S-CoreDream-4Regular';
     margin-left: 10px;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-size: 40px;
     font-weight: 400;
     font-style: normal;
}