table {
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
}

#createRecruitForm {
    margin-top: 20px;
}

.row {
    margin-left: 10px;
    margin-bottom: 20px;
}

form > button {
    margin-top: 20px;
}

.chatComponent {
    margin-top: 20px;
    margin-left: 380px;
}