#circle {

  width : 200px;
  height : 200px;
  border-radius: 50%;
  background-color: ivory;
  text-align:center;
  margin:20px;
  margin-top:40px;


    cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
}

#room {
    padding:110px 0;
    padding-left:40px;

}

h3{
    color:black;
    font-family:'lefery';

}

@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

