.infoBack{
    background: #7a8ba7;
}

.infoBigDiv{
    height: auto;
    width: 300px;
    display: inline;
}
.smallDiv{
    background-color: #FFFFFF;
        display: inline-grid;
        margin: 10px 10px 10px 10px;
        width: 302px;
height: 473px;
}

.teamId hr{
height: 0.5px;
}

.teamId{
overflow: auto;
}

.teamId::-webkit-scrollbar{
  width: 10px;
  height: 10px
}
.teamId::-webkit-scrollbar-thumb{
  background: linear-gradient(#97aaca, #97aaca);
  border-radius: 5px;
}
.teamId::-webkit-scrollbar-track{
  background: white;
  border-radius: 5px;
}
.teamId::-webkit-scrollbar-corner{
  background: white;
}

.projectInfo{
  overflow: auto;
}

.projectInfo::-webkit-scrollbar{
  width: 10px;
  height: 10px
}
.projectInfo::-webkit-scrollbar-thumb{
  background: linear-gradient(#97aaca, #97aaca);
  border-radius: 5px;
}
.projectInfo::-webkit-scrollbar-track{
  background: white;
  border-radius: 5px;
}
.projectInfo::-webkit-scrollbar-corner{
  background: white;
}

p.total{
    font-size:25px;
    margin: 10px;
    font-family: 'S-CoreDream-5Medium';
    text-align:center;
}

p.totalNum{
    font-size:200px;
    color:#2c3e50;
    font-family: 'S-CoreDream-5Medium';
}

p.projectInfo{
    margin:20px;
    font-family: 'S-CoreDream-5Medium';
    font-size:25px;
}

li{
    font-size:40px;
    list-style:none;
    font-family: 'S-CoreDream-5Medium';

}

.deleteRoom button{
    background: #97aaca;
    border-color: #97aaca;
    font-family: 'S-CoreDream-4Regular';
}

.deleteRoom button:hover{
    background: #ce4f5b;
}

hr.member{
    margin-left:25px;
    width:260px;
}

@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic400';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}