.infoBigDiv{
    background: #7a8ba7;
    width: 300px;
    display: inline;
}
.smallDiv{
    background-color: #FFFFFF;
        display: inline-grid;
        margin: 10px 10px 10px 10px;
        width: 300px;
height: 464px;
}

p.total{
    font-size:25px;
    margin: 10px;
    font-family: 'S-CoreDream-5Medium';
    text-align:center;
}

p.totalNum{
    font-size:200px;
    color:#2c3e50;
    font-family: 'S-CoreDream-5Medium';
}

p.projectInfo{
    margin:20px;
    font-family: 'S-CoreDream-5Medium';
    font-size:25px;
}

li{
    font-size:40px;
    list-style:none;
    font-family: 'S-CoreDream-5Medium';

}

.deleteRoom button{
background: #1976d2;
font-family: 'Nanum Gothic400', sans-serif;
}

.deleteRoom button:hover{
background: #1466b5;
}

hr.member{
    margin-left:25px;
    width:260px;
}

@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
    font-family: 'ChungbukNationalUniversity-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/ChungbukNationalUniversity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Nanum Gothic400';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}