#circle {

  width : 300px;
  height : 200px;
  border-radius: 10%;
  text-align:center;
  margin-top: 30px;
  margin-bottom: 30px;

  cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

  color: #263747;
  width: 100%;
  box-shadow: 0 0.0625rem 0.25rem 0.0625rem #d8d8d8;
  border-radius: 0.5rem;
}

#project{
    background: black;
    width: 60%;
    max-width: 90px;
    color: white;
    transform: translate(10px, 10px);
    text-align:center;
    font-family: 'Nanum Gothic400', sans-serif;
    color: #d7ebfa;
}

#study{
    background: black;
    width: 60%;
    max-width: 90px;
    color: white;
    transform: translate(10px, 10px);
    text-align:center;
    font-family: 'Nanum Gothic400', sans-serif;
    color: #fffbc5;
}

#circle:hover {
    background: #6c757d;
}

h5, h3, h2, h{
    color:black;
    font-family:'lefery';
    font-family: 'Nanum Gothic400', sans-serif;
}

#inviteLink{
    float: right;
    margin: 30px;
}

#explan, #title{
margin: 10px;
text-overflow: ellipsis;
    overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2 ;
            -webkit-box-orient: vertical;
            word-break:break-all;
            line-height: 1.4;
}

div.slider{
    width:100%;
    display:inline-block;
    cursor: default;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
}

.roomlist{
    text-align:center;

}

.circular{
    margin-top:100px;
}


@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

