#circle {
  border-radius: 10%;
  text-align:center;
  margin-top: 30px;
  margin-bottom: 30px;

  cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

  color: #263747;
  width: 100%;
  height: 200px;
  box-shadow: 0 0.0625rem 0.25rem 0.0625rem #d8d8d8;
  border-radius: 0.5rem;
}

#project{
    background: #2c3e50;
    width: 60%;
    max-width: 90px;
    color: white;
    transform: translate(10px, 10px);
    text-align:center;
    font-family: 'Nanum Gothic400', sans-serif;
}

#study{
    background: black;
    width: 70%;
    max-width: 90px;
    color: white;
    transform: translate(10px, 10px);
    text-align:center;
    font-family: 'Nanum Gothic400', sans-serif;
}

#circle:hover {
    background: #7a8ba7;
}

h5, h3, h2, h{
    color:black;
    font-family:'lefery';
    font-family: 'Nanum Gothic400', sans-serif;
}

#inviteLink{
    float: right;
margin-top: 23px;
}

#explain, #title{
margin: 10px;
text-overflow: ellipsis;
    overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2 ;
            -webkit-box-orient: vertical;
            word-break:break-all;
            line-height: 1.4;
            font-family: 'Nanum Gothic400', sans-serif;
}

div.slider{
    width:100%;
    display:inline-block;
    cursor: default;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -khtml-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
}

.roomlist{
    text-align:center;

}

.roomlist_nothing{
    font-family: 'S-CoreDream-5Medium';
    margin: 130px;
}

.circular{
    margin-top:100px;
}

.navigator{
    margin: 60px 0px 0 0px;
}

.navigator div{
    border-radius: 0.5rem;
}

.navigator button span, .navigator a span{
    font-family: 'S-CoreDream-5Medium';
}

@font-face {
    font-family: 'lefery';
    src: url('../../pages/css/LeferiBaseBold.ttf') format('truetype');
}

@font-face {
     font-family: 'S-CoreDream-5Medium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
     font-size: 40px;
     font-weight: 400;
     font-style: normal;
}

